@import '../../styles/variables.scss';

.input {
  border-bottom: 1px solid $placeholderColor;
  padding: 5px;
  margin: 10px 0;
  position: relative;

  input {
    font-size: 20px;
    border: 0;
    color: $inputColor;
    width: 98%;
  }

  &.invalid {
    border-bottom: 2px solid $errorColor;

    input {
      color: $errorColor;
    }

    &:after {
      content: "!";
      color: $errorColor;
      font-size: 30px;
      position: absolute;
      top: 0;
      right: 0;
      font-weight: bold;
    }
  }
}

*:focus {
  outline: none;
}

::placeholder {
  color: $placeholderColor;
  opacity: 1;
}

:-ms-input-placeholder {
  color: $placeholderColor;
}

::-ms-input-placeholder {
  color: $placeholderColor;
}