
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.login {
  &__background {
    clip-path: circle(25% at 24% 3%);
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    z-index: -1;
    background-image: url('../../assets/login_page_background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
  }

  &__content {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__form {
    padding: 35px 30px;
    border-radius: 10px;
    margin-top: -30%;
    width: 80%;
    box-shadow: 0px 0px 73px #050505;

    &__content {
      background: white;
      padding: 30px;
      margin: 0;
      border-radius: 10px;

      .form {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

      .logo {
        display: block;
        margin: 0 auto 25px;
      }

      .title {
        font-size: 30px;
        font-weight: 400;
        text-align: center;
        margin: 30px 0 0;
      }

      .text {
        text-align: center;
        font-size: 20px;
        margin: 20px 0 0;
      }
    }
  }
}

@media (min-width: 400px) {
  .login {
    &__background {
      clip-path: circle(29% at 23% 4%);
    }

    &__form {
      margin-top: 0;
      width: 70%;
    }
  }
}

@media (min-width: $small) {
  .login {
    &__background {
      clip-path: circle(44% at 37% 3%);
    }

    &__form {
      &__content {

        .title {
          font-size: 32px;
        }

        .button {
          padding: 12px 30px;
          font-size: 25px;
        }
      }
    }
  }
}

@media (min-width: $medium) {
  .login {
    &__background {
      clip-path: circle(49% at 40% 4%);
    }

    &__form {
      width: 55%;
    }
  }
}

@media (min-width: $large) {
  .login {
    &__background {
      clip-path: circle(67% at 30% 0%);
    }

    &__form {
      width: 45%;
    }
  }
}

@media (min-width: $extraLarge) {
  .login {
    &__background {
      clip-path: circle(72% at 20% 0%);
    }
  }
}